doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Contrast | The New Wave
    meta(name="description" content="Contrast is a community for young creatives in the GTA.")
    link(rel="stylesheet", href="assets/css/styles.css", attr)
  body
    .logo
      include assets/img/logo.svg
      
    .social-media
      a(href="https://www.instagram.com/contrast.team/")
        include assets/img/instagram.svg
      a(href="https://www.facebook.com/team.contrast/")
        include assets/img/facebook.svg
      a(href="mailto:ethan@projectcontrast.io")
        include assets/img/email.svg
        
    .fullscreen
      .text
        include assets/img/logotype.svg
        p 
         em new wave of creatives is here.
        p 
         em stay tuned.
         
    
      
